Repository p4lang/p4c, pull requests merged in 2023-10, with the labels that each got.

#4157 [P4Testgen] Add more trace information to P4Testgen
  backends/p4tools/common/lib/trace_event_types.cpp
  backends/p4tools/common/lib/trace_event_types.h
  backends/p4tools/modules/testgen/benchmarks/test_coverage.py
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/backend/ptf/ptf.cpp
  ir/irutils.cpp
  ir/irutils.h
  lib/source_file.cpp
  lib/source_file.h
Labels: testgen

#4103 [P4Testgen] Encode more P4Runtime constraints for the behavioral model
  backends/p4tools/modules/testgen/targets/bmv2/table_stepper.cpp
Labels: testgen

#4168 Simplify the DPDK PTF build and test scripts.
  .github/workflows/ci-dpdk-ptf-tests.yml
  backends/dpdk/CMakeLists.txt
  backends/dpdk/run-dpdk-ptf-test.py
  tools/ci-build.sh
  tools/dpdk-ci-build.sh
  tools/testutils.py
Labels: dpdk

#4195 [P4Testgen] Support string types in the Z3 solver.
  backends/p4tools/common/core/z3_solver.cpp
Labels: testgen

#4191 [P4Testgen] Only look ahead for the else branch when it is not null.
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/lib/collect_coverable_nodes.cpp
Labels: testgen

#4199 [P4Testgen] Fixes for the artifact evaluation.
  backends/p4tools/common/compiler/midend.cpp
  backends/p4tools/modules/testgen/benchmarks/plots.py
  backends/p4tools/modules/testgen/benchmarks/test_coverage.py
  backends/p4tools/modules/testgen/targets/bmv2/backend/protobuf/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.h
Labels: testgen

#4161 [P4Testgen] Match switch labels directly using string literal expressions
  backends/p4tools/common/lib/symbolic_env.cpp
  backends/p4tools/common/lib/table_utils.h
  backends/p4tools/modules/testgen/benchmarks/plots.py
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.h
  backends/p4tools/modules/testgen/core/small_step/table_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/table_stepper.h
  backends/p4tools/modules/testgen/lib/continuation.cpp
  backends/p4tools/modules/testgen/targets/bmv2/table_stepper.cpp
  backends/p4tools/modules/testgen/targets/pna/shared_table_stepper.cpp
Labels: testgen

#4173 [P4Testgen] Add a DPDK-PTF P4Testgen back end and the corresponding test runner
  .github/workflows/ci-dpdk-ptf-p4testgen-tests.yml
  .gitignore
  backends/bmv2/run-bmv2-ptf-test.py
  backends/dpdk/run-dpdk-ptf-test.py
  backends/p4tools/modules/testgen/targets/pna/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.h
  backends/p4tools/modules/testgen/targets/pna/test/P4Tests.cmake
  backends/p4tools/modules/testgen/targets/pna/test/PNAPTFXfail.cmake
  backends/p4tools/modules/testgen/targets/pna/test/TestTemplate.cmake
  backends/p4tools/modules/testgen/targets/pna/test_backend.cpp
  testdata/p4_16_samples/pna-dpdk-small_sample.p4
  testdata/p4_16_samples/pna-dpdk-small_sample.py
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample-first.p4
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample-frontend.p4
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample-midend.p4
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample.p4
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample.p4-error
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample.p4-stderr
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample.p4.bfrt.json
  testdata/p4_16_samples_outputs/pna-dpdk-small_sample.p4.spec
  tools/ci-build.sh
  tools/ptf/base_test.py
Labels: testgen, dpdk

#4203 [P4Testgen] Fix another segmentation fault when using the coverable nodes scanner.
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
Labels: testgen

#4207 [P4Testgen] Fix textproto generation and escape traces properly.
  backends/p4tools/modules/testgen/targets/bmv2/backend/protobuf/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/proto/p4testgen.proto
  backends/p4tools/modules/testgen/targets/bmv2/test/TestTemplate.cmake
Labels: testgen
