Repository p4lang/p4c, pull requests merged in 2023-12, with the labels that each got.

#4255 [P4Testgen] Resolve method call arguments before stepping into an extern - preserve InOut references
  backends/p4tools/common/lib/symbolic_env.cpp
  backends/p4tools/common/lib/trace_event_types.cpp
  backends/p4tools/common/lib/trace_event_types.h
  backends/p4tools/common/lib/util.cpp
  backends/p4tools/common/lib/util.h
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.h
  backends/p4tools/modules/testgen/core/small_step/extern_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/expr_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/ebpf/expr_stepper.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.cpp
  backends/p4tools/p4tools.def
Labels: testgen

#4278 [P4Testgen] Fix accidental system file categorization.
  backends/p4tools/common/CMakeLists.txt
Labels: testgen

#4279 [P4Testgen] Move P4Testgen's logging function into the common library.
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/common/lib/constants.h
  backends/p4tools/common/lib/logging.cpp
  backends/p4tools/common/lib/logging.h
  backends/p4tools/modules/testgen/lib/logging.cpp
  backends/p4tools/modules/testgen/lib/logging.h
  backends/p4tools/modules/testgen/lib/test_backend.cpp
  backends/p4tools/modules/testgen/lib/test_backend.h
  backends/p4tools/modules/testgen/lib/test_framework.cpp
  backends/p4tools/modules/testgen/lib/test_framework.h
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4181 Do not toggle BOOST_NO_ARGUMENT_DEPENDENT_LOOKUP in CMakelists.txt
  CMakeLists.txt
  lib/hvec_map.h
  lib/map.h
  lib/ordered_map.h
  test/gtest/ordered_map.cpp
Labels: core

#4287 Add validation of constant enum values fitting
  frontends/p4/typeChecking/typeChecker.cpp
  frontends/p4/typeChecking/typeChecker.h
  test/CMakeLists.txt
  test/gtest/frontend_test.cpp
  test/gtest/helpers.h
  testdata/p4_16_errors/serenum-typedef.p4
  testdata/p4_16_errors_outputs/serenum-type.p4-stderr
  testdata/p4_16_errors_outputs/serenum-typedef.p4
  testdata/p4_16_errors_outputs/serenum-typedef.p4-stderr
Labels: bug, core

#4275 [P4Testgen] Fix behavior of coverage on edge cases with no nodes to cover
  backends/p4tools/common/options.cpp
  backends/p4tools/common/options.h
  backends/p4tools/modules/testgen/lib/test_backend.cpp
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/options.h
Labels: testgen

#4298 [P4Testgen] Fix stringliteral conversion. Value must be a literal, NOT a constant
  backends/p4tools/common/core/z3_solver.cpp
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/expressions.cpp
  backends/p4tools/modules/testgen/test/z3-solver/constraints.cpp
Labels: testgen

#4276 [P4Testgen] Add support for @format annotations in P4 programs for protobuf-ir tests
  backends/p4tools/common/lib/format_int.cpp
  backends/p4tools/common/lib/format_int.h
  backends/p4tools/modules/testgen/targets/bmv2/concolic.cpp
  backends/p4tools/modules/testgen/targets/bmv2/concolic.h
  backends/p4tools/modules/testgen/targets/bmv2/contrib/bmv2_hash/calculations.cpp
  backends/p4tools/modules/testgen/targets/bmv2/contrib/bmv2_hash/calculations.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
  backends/p4tools/modules/testgen/test/lib/format_int.cpp
Labels: testgen
