Repository p4lang/p4c, pull requests merged in 2023-11, with the labels that each got.

#4214 [P4Testgen] Add a testgen.p4 file with custom extern definitions
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/p4include/testgen.p4
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/assert_assume_tests/bmv2_testgen_assert_1.p4
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/assert_assume_tests/bmv2_testgen_assert_2.p4
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/assert_assume_tests/bmv2_testgen_assert_assume_1.p4
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/assert_assume_tests/bmv2_testgen_assert_assume_2.p4
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/assert_assume_tests/bmv2_testgen_assert_assume_3.p4
Labels: testgen

#4205 [P4Testgen] Clean up small issues with test back ends and plotting scripts.
  backends/p4tools/modules/testgen/benchmarks/plots.py
  backends/p4tools/modules/testgen/benchmarks/test_coverage.py
  backends/p4tools/modules/testgen/targets/bmv2/backend/metadata/metadata.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.cpp
  tools/testutils.py
Labels: testgen

#4222 Still parse STF files, even when BMv2 model is not present in system
  backends/bmv2/run-bmv2-test.py
Labels: bmv2

#4224 [P4Testgen] Ignore flaky test in P4Testgen eBPF back end.
  backends/p4tools/modules/testgen/targets/ebpf/test/P4Tests.cmake
Labels: testgen

#4216 #noconstructor should also include the json loader constructor
  ir/ir.def
  tools/ir-generator/ir-generator-lex.l
  tools/ir-generator/methods.cpp
Labels: core

#4220 [P4Testgen] Move common code of BMv2 test back ends into a common class.
  backends/p4tools/BUILD.bazel
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2STFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/P4Tests.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/TestTemplate.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.h
Labels: testgen

#4240 Allow method calls in index expressions in hsIndexSimplify
  midend/hsIndexSimplify.cpp
Labels: core

#4238 Report offending node in the type-checker immutability check
  frontends/p4/typeChecking/typeChecker.cpp
  frontends/p4/typeChecking/typeChecker.h
Labels: core

#4239 [P4Testgen] Add EliminateInvalidHeaders midend pass
  backends/p4tools/common/compiler/midend.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/bmv2_valid_lit.p4
Labels: testgen

#4223 [P4Testgen] Ensure accurate typing for functions that work with references.
  backends/p4tools/common/core/abstract_execution_state.cpp
  backends/p4tools/common/core/abstract_execution_state.h
  backends/p4tools/modules/testgen/core/small_step/abstract_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/abstract_stepper.h
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/extern_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.cpp
  backends/p4tools/modules/testgen/targets/pna/test_backend.cpp
Labels: testgen

#4252 [P4Testgen] Change crash message
  backends/p4tools/modules/testgen/main.cpp
Labels: testgen

#4251 [P4Testgen] Add --assert-min-coverage option to check coverage of generated test cases
  backends/p4tools/modules/testgen/lib/test_backend.cpp
  backends/p4tools/modules/testgen/lib/test_backend.h
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/options.h
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4250 [P4Testgen] Generate NoMatch for selects without default
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.h
Labels: testgen

#4247 [P4Testgen] Rename TF to TestFramework
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/lib/test_backend.cpp
  backends/p4tools/modules/testgen/lib/test_backend.h
  backends/p4tools/modules/testgen/lib/test_framework.cpp
  backends/p4tools/modules/testgen/lib/test_framework.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.h
  backends/p4tools/modules/testgen/targets/ebpf/backend/stf/stf.cpp
  backends/p4tools/modules/testgen/targets/ebpf/backend/stf/stf.h
  backends/p4tools/modules/testgen/targets/pna/backend/metadata/metadata.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/metadata/metadata.h
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.h
Labels: testgen

#4215 [P4Testgen] Add a compiler pass to resolve Type_Name in StructExpressions.
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/common/compiler/convert_struct_expr.cpp
  backends/p4tools/common/compiler/convert_struct_expr.h
  backends/p4tools/common/compiler/midend.cpp
Labels: testgen

#4225 [P4Testgen] Flatten the genEq function and support struct expressions.
  backends/p4tools/common/lib/gen_eq.cpp
  backends/p4tools/common/lib/gen_eq.h
  ir/irutils.cpp
  ir/irutils.h
Labels: testgen

#4231 [P4Testgen] Add struct and header expressions as a first-class expression to P4Testgen.
  backends/p4tools/common/compiler/convert_struct_expr.cpp
  backends/p4tools/common/compiler/convert_struct_expr.h
  backends/p4tools/common/core/abstract_execution_state.cpp
  backends/p4tools/common/core/abstract_execution_state.h
  backends/p4tools/common/lib/model.cpp
  backends/p4tools/common/lib/model.h
  backends/p4tools/common/lib/symbolic_env.cpp
  backends/p4tools/common/lib/trace_event_types.cpp
  backends/p4tools/modules/testgen/core/small_step/abstract_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/abstract_stepper.h
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.h
  backends/p4tools/modules/testgen/lib/execution_state.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2MetadataXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2PTFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2STFXfail.cmake
  backends/p4tools/modules/testgen/targets/ebpf/expr_stepper.cpp
  backends/p4tools/p4tools.def
Labels: testgen

#4221 [P4Testgen] Introduce a new Protobuf backend which uses P4 PDPI instead of P4Runtime
  backends/p4tools/BUILD.bazel
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/proto/ir.proto
  backends/p4tools/modules/testgen/targets/bmv2/proto/p4testgen_ir.proto
  backends/p4tools/modules/testgen/targets/bmv2/table_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufIrXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/P4Tests.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/TestTemplate.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
  control-plane/google/rpc/code.proto
  control-plane/google/rpc/status.proto
Labels: testgen
