Repository p4lang/p4c, pull requests merged in 2023-07, with the labels that each got.

#4062 Don't omit the apply block label in P4Control::dbprint
  ir/dbprint-p4.cpp
Labels: enhancement, core

#4069 [P4Testgen] Make the ranges of supported ports a command line parameter for P4Testgen
  backends/bmv2/run-bmv2-ptf-test.py
  backends/p4tools/common/options.h
  backends/p4tools/modules/testgen/core/small_step/cmd_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/extern_stepper.cpp
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/options.h
  backends/p4tools/modules/testgen/targets/bmv2/cmd_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2PTFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/P4Tests.cmake
Labels: testgen

#4073 [P4Testgen] Fix an infinite loop in the coverable nodes scanner.
  backends/p4tools/modules/testgen/lib/collect_coverable_nodes.cpp
Labels: testgen

#4068 Add an option to the DPDK P4C back end to generate TDI builder configurations.
  backends/dpdk/CMakeLists.txt
  backends/dpdk/main.cpp
  backends/dpdk/options.h
  backends/dpdk/tdiConf.cpp
  backends/dpdk/tdiConf.h
Labels: dpdk
