Repository p4lang/p4c, pull requests merged in 2024-02, with the labels that each got.

#4381 Add a P4Info API to the control-plane folder and P4Tools.
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/common/control_plane/p4info_map.cpp
  backends/p4tools/common/control_plane/p4info_map.h
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/test/lib/p4info_api.cpp
  backends/p4tools/modules/testgen/test/lib/p4info_api.h
  control-plane/CMakeLists.txt
  control-plane/p4RuntimeArchHandler.h
  control-plane/p4infoApi.cpp
  control-plane/p4infoApi.h
  test/gtest/p4runtime.cpp
Labels: control_plane_api, testgen

#4394 Try to fix Github actions syntax.
  .github/workflows/ci-ubuntu-18-nightly.yml
  .github/workflows/ci-ubuntu-20-sanitizer-nightly.yml
  .github/workflows/ci-validation-nightly.yml
Labels: run-validation

#4387 [P4Testgen] Hotfixes and improvements to the P4Constraints parsers.
  backends/p4tools/common/lib/variables.h
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.h
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.h
  backends/p4tools/modules/testgen/targets/bmv2/p4_refers_to_parser.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_refers_to_parser.h
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/p4_asserts_parser_test.cpp
Labels: testgen

#4391 Fixes from static analysis
  frontends/common/constantParsing.cpp
  frontends/common/parseInput.h
  frontends/common/parser_options.cpp
  frontends/common/parser_options.h
  frontends/p4/alias.h
  frontends/p4/fromv1.0/programStructure.cpp
  frontends/p4/reassociation.cpp
  frontends/p4/typeChecking/typeChecker.cpp
  lib/error_reporter.h
  lib/options.cpp
  midend/convertErrors.cpp
  midend/removeComplexExpressions.cpp
Labels: run-sanitizer

#4361 Rename eBPF section names for tc backend
  backends/tc/ebpfCodeGen.cpp
  testdata/p4tc_samples_outputs/calculator_control_blocks.c
  testdata/p4tc_samples_outputs/calculator_parser.c
  testdata/p4tc_samples_outputs/checksum_control_blocks.c
  testdata/p4tc_samples_outputs/checksum_parser.c
  testdata/p4tc_samples_outputs/const_entries_range_mask_control_blocks.c
  testdata/p4tc_samples_outputs/const_entries_range_mask_parser.c
  testdata/p4tc_samples_outputs/default_action_example_control_blocks.c
  testdata/p4tc_samples_outputs/default_action_example_parser.c
  testdata/p4tc_samples_outputs/default_hit_const_example_control_blocks.c
  testdata/p4tc_samples_outputs/default_hit_const_example_parser.c
  testdata/p4tc_samples_outputs/drop_packet_example_control_blocks.c
  testdata/p4tc_samples_outputs/drop_packet_example_parser.c
  testdata/p4tc_samples_outputs/global_action_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/global_action_example_01_parser.c
  testdata/p4tc_samples_outputs/global_action_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/global_action_example_02_parser.c
  testdata/p4tc_samples_outputs/hash1_control_blocks.c
  testdata/p4tc_samples_outputs/hash1_parser.c
  testdata/p4tc_samples_outputs/ipip_control_blocks.c
  testdata/p4tc_samples_outputs/ipip_parser.c
  testdata/p4tc_samples_outputs/matchtype_control_blocks.c
  testdata/p4tc_samples_outputs/matchtype_parser.c
  testdata/p4tc_samples_outputs/mix_matchtype_example_control_blocks.c
  testdata/p4tc_samples_outputs/mix_matchtype_example_parser.c
  testdata/p4tc_samples_outputs/multiple_tables_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/multiple_tables_example_01_parser.c
  testdata/p4tc_samples_outputs/multiple_tables_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/multiple_tables_example_02_parser.c
  testdata/p4tc_samples_outputs/name_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/name_annotation_example_parser.c
  testdata/p4tc_samples_outputs/no_table_example_control_blocks.c
  testdata/p4tc_samples_outputs/no_table_example_parser.c
  testdata/p4tc_samples_outputs/noaction_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/noaction_example_01_parser.c
  testdata/p4tc_samples_outputs/noaction_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/noaction_example_02_parser.c
  testdata/p4tc_samples_outputs/nummask_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/nummask_annotation_example_parser.c
  testdata/p4tc_samples_outputs/send_to_port_example_control_blocks.c
  testdata/p4tc_samples_outputs/send_to_port_example_parser.c
  testdata/p4tc_samples_outputs/set_entry_timer_example_control_blocks.c
  testdata/p4tc_samples_outputs/set_entry_timer_example_parser.c
  testdata/p4tc_samples_outputs/simple_exact_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_exact_example_parser.c
  testdata/p4tc_samples_outputs/simple_lpm_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_lpm_example_parser.c
  testdata/p4tc_samples_outputs/simple_ternary_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_ternary_example_parser.c
  testdata/p4tc_samples_outputs/size_param_example_control_blocks.c
  testdata/p4tc_samples_outputs/size_param_example_parser.c
  testdata/p4tc_samples_outputs/tc_type_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/tc_type_annotation_example_parser.c
  testdata/p4tc_samples_outputs/test_ipv6_example_control_blocks.c
  testdata/p4tc_samples_outputs/test_ipv6_example_parser.c
Labels: p4tc

#4383 Dpdk backend:Explicitly use method toString() while moving isValid() Methodcall used as table key, to metadata.
  backends/dpdk/dpdkArch.cpp
  backends/dpdk/dpdkArch.h
  backends/dpdk/dpdkUtils.cpp
  backends/dpdk/dpdkUtils.h
Labels: dpdk

#4397 [P4Testgen] Fix failing P4Testgen gtest.
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/p4_asserts_parser_test.cpp
Labels: testgen

#4303 [P4Testgen] Use P4Runtime in the protobuf test back end.
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.h
Labels: testgen

#4400 [P4Testgen] Fix generation of specific fields in the Protobuf-IR test backend.
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
Labels: testgen

#4369 [P4Testgen] Add a silent mode to P4Tools. Add performance counting at the top level.
  backends/p4tools/common/options.cpp
  backends/p4tools/common/options.h
  backends/p4tools/common/p4ctool.h
  backends/p4tools/modules/testgen/main.cpp
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4401 [P4Testgen] Add an option to override the test name.
  backends/p4tools/modules/testgen/lib/test_backend_configuration.h
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/options.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/metadata/metadata.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.cpp
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4396 Do not check for shadowing repeatedly in inlining passes.
  frontends/common/resolveReferences/referenceMap.cpp
  frontends/common/resolveReferences/resolveReferences.cpp
  frontends/p4/actionsInlining.cpp
  frontends/p4/actionsInlining.h
  frontends/p4/frontend.cpp
  frontends/p4/functionsInlining.cpp
  frontends/p4/inlining.cpp
  frontends/p4/inlining.h
Labels: core

#4408 [P4Testgen] Stop when an error is throwing in the P4Runtime serializer. Make stop-on-error explicit in the Midend class.
  backends/p4tools/common/compiler/compiler_target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
Labels: testgen

#4376 Memoize & improve name lookup in `ResolveReferences`
  frontends/common/resolveReferences/resolveReferences.cpp
  frontends/common/resolveReferences/resolveReferences.h
  lib/enumerator.h
Labels: core, run-ubuntu18, run-validation, run-sanitizer

#4377 Implement lightweight RTTI for (not only) IR::Node class hierarchies
  backends/bmv2/common/controlFlowGraph.h
  backends/ebpf/ebpfControl.h
  backends/ebpf/ebpfDeparser.h
  backends/ebpf/ebpfObject.h
  backends/ebpf/ebpfParser.h
  backends/ebpf/ebpfProgram.h
  backends/ebpf/ebpfTable.h
  backends/ebpf/ebpfType.h
  backends/ebpf/psa/ebpfPipeline.h
  backends/ebpf/psa/ebpfPsaControl.h
  backends/ebpf/psa/ebpfPsaDeparser.h
  backends/ebpf/psa/ebpfPsaParser.h
  backends/ebpf/psa/ebpfPsaTable.h
  backends/ebpf/psa/externs/ebpfPsaCounter.h
  backends/ebpf/psa/externs/ebpfPsaTableImplementation.h
  backends/p4tools/common/compiler/compiler_target.h
  backends/p4tools/common/core/z3_solver.h
  backends/p4tools/common/lib/formulae.h
  backends/p4tools/common/lib/trace_event.h
  backends/p4tools/common/lib/trace_event_types.h
  backends/p4tools/modules/testgen/core/compiler_target.h
  backends/p4tools/modules/testgen/core/program_info.h
  backends/p4tools/modules/testgen/lib/test_object.h
  backends/p4tools/modules/testgen/lib/test_spec.h
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.h
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/test_spec.h
  backends/p4tools/modules/testgen/targets/ebpf/program_info.h
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.h
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.h
  backends/p4tools/modules/testgen/targets/pna/test_spec.h
  backends/tc/ebpfCodeGen.h
  backends/ubpf/ubpfType.h
  docs/C++.md
  frontends/p4/def_use.h
  frontends/p4/enumInstance.h
  frontends/p4/fromv1.0/programStructure.cpp
  frontends/p4/methodInstance.h
  frontends/p4/symbol_table.cpp
  frontends/p4/typeChecking/typeConstraints.h
  frontends/p4/typeChecking/typeUnification.cpp
  frontends/p4/validateParsedProgram.cpp
  ir/declaration.h
  ir/indexed_vector.h
  ir/irutils.cpp
  ir/json_parser.h
  ir/namemap.h
  ir/node.h
  ir/nodemap.h
  ir/solver.h
  ir/vector.h
  ir/visitor.h
  lib/castable.h
  lib/json.h
  lib/rtti.h
  midend/interpreter.h
  test/CMakeLists.txt
  test/gtest/rtti_test.cpp
  tools/ir-generator/irclass.cpp
  tools/ir-generator/methods.cpp
Labels: core, run-ubuntu18, run-validation, run-sanitizer

#4374 [P4Testgen] Add a test case generation API to P4Testgen.
  BUILD.bazel
  backends/p4tools/BUILD.bazel
  backends/p4tools/modules/testgen/lib/test_backend.cpp
  backends/p4tools/modules/testgen/lib/test_backend.h
  backends/p4tools/modules/testgen/lib/test_framework.cpp
  backends/p4tools/modules/testgen/lib/test_framework.h
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/test/test_backend/ptf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/test_backend/stf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/testgen_api/api_test.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/metadata.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/ptf.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/stf.h
  backends/p4tools/modules/testgen/targets/ebpf/backend/stf/stf.cpp
  backends/p4tools/modules/testgen/targets/ebpf/backend/stf/stf.h
  backends/p4tools/modules/testgen/targets/pna/backend/metadata/metadata.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/metadata/metadata.h
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.cpp
  backends/p4tools/modules/testgen/targets/pna/backend/ptf/ptf.h
  backends/p4tools/modules/testgen/targets/pna/test_backend.h
  backends/p4tools/modules/testgen/testgen.cpp
  backends/p4tools/modules/testgen/testgen.h
  test/gtest/helpers.cpp
  test/gtest/helpers.h
Labels: testgen

#4425 [P4Testgen] Look up the alias in the P4Info instead of using the fully-qualified control plane name for Protobuf IR tests.
  backends/p4tools/modules/testgen/targets/bmv2/test_backend.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/common.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
Labels: testgen

#4363 [P4Testgen] Basic support for `@p4runtime_translation` and `@p4runtime_translation_mappings`.
  backends/bmv2/common/annotations.h
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4runtime_translation.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4runtime_translation.h
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test_backend/protobuf_ir.h
  frontends/p4/parseAnnotations.h
Labels: testgen

#4433 Pass FrontEndPolicy to unit tests
  frontends/p4/frontend.cpp
  frontends/p4/frontend.h
  test/gtest/helpers.cpp
  test/gtest/helpers.h
  test/gtest/p4runtime.cpp
Labels: run-ubuntu18, run-validation, run-sanitizer

#4436 [P4Testgen] Move seed logging to toplevel.
  backends/p4tools/common/p4ctool.h
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4426 Change minimum key struct alignment to 8
  backends/tc/ebpfCodeGen.cpp
  testdata/p4tc_samples_outputs/calculator_control_blocks.c
  testdata/p4tc_samples_outputs/checksum_control_blocks.c
  testdata/p4tc_samples_outputs/const_entries_range_mask_control_blocks.c
  testdata/p4tc_samples_outputs/default_action_example_control_blocks.c
  testdata/p4tc_samples_outputs/default_hit_const_example_control_blocks.c
  testdata/p4tc_samples_outputs/drop_packet_example_control_blocks.c
  testdata/p4tc_samples_outputs/global_action_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/global_action_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/ipip_control_blocks.c
  testdata/p4tc_samples_outputs/matchtype_control_blocks.c
  testdata/p4tc_samples_outputs/mix_matchtype_example_control_blocks.c
  testdata/p4tc_samples_outputs/multiple_tables_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/multiple_tables_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/name_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/noaction_example_01_control_blocks.c
  testdata/p4tc_samples_outputs/noaction_example_02_control_blocks.c
  testdata/p4tc_samples_outputs/nummask_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/send_to_port_example_control_blocks.c
  testdata/p4tc_samples_outputs/set_entry_timer_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_exact_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_lpm_example_control_blocks.c
  testdata/p4tc_samples_outputs/simple_ternary_example_control_blocks.c
  testdata/p4tc_samples_outputs/size_param_example_control_blocks.c
  testdata/p4tc_samples_outputs/tc_type_annotation_example_control_blocks.c
  testdata/p4tc_samples_outputs/test_ipv6_example_control_blocks.c
Labels: p4tc

#4405 Create a dependabot.yml for Github actions
  .github/dependabot.yml
Labels: test-infrastructure

#4447 Refactor some visitor internals
  ir/visitor.cpp
  ir/visitor.h
Labels: core, run-sanitizer

#4432 Refactor ReferenceResolver to use native C++-enumerators in some places
  backends/p4tools/common/compiler/reachability.cpp
  backends/p4tools/common/lib/namespace_context.cpp
  backends/p4tools/common/lib/util.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/reachability.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/transformations/saturation_arithm.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/asrt_model.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/expressions.cpp
  backends/p4tools/modules/testgen/test/small-step/util.h
  frontends/common/resolveReferences/resolveReferences.cpp
  frontends/common/resolveReferences/resolveReferences.h
  frontends/p4/createBuiltins.cpp
  ir/ir.cpp
  lib/enumerator.h
  lib/iterator_range.h
  midend/noMatch.cpp
  test/gtest/parser_unroll.cpp
Labels: core

#4462 Add merge group label to relevant CI runs.
  .github/workflows/ci-bazel.yml
  .github/workflows/ci-container-image.yml
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-p4tools.yml
  .github/workflows/ci-ptf.yml
  .github/workflows/ci-static-build-test.yml
  .github/workflows/ci-test.yml
Labels: test-infrastructure

#4451 [P4Testgen] Add more API options to the P4Testgen api.
  backends/p4tools/modules/testgen/options.h
  backends/p4tools/modules/testgen/testgen.cpp
  backends/p4tools/modules/testgen/testgen.h
Labels: testgen

#4450 [P4Testgen] Handle value suffixes in the asserts parser.
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.cpp
Labels: testgen

#4464 Remove some unused boost headers and switch from boost code to alternatives
  control-plane/bfruntime.cpp
  control-plane/bfruntime.h
  control-plane/p4RuntimeSerializer.cpp
  control-plane/p4RuntimeSymbolTable.cpp
  frontends/p4/def_use.cpp
  frontends/p4/fromv1.0/programStructure.cpp
  ir/base.cpp
  ir/dbprint-expression.cpp
  ir/dbprint-p4.cpp
  ir/dbprint-stmt.cpp
  ir/dbprint-type.cpp
  ir/expression.cpp
  ir/id.h
  ir/indexed_vector.h
  ir/ir.cpp
  ir/irutils.cpp
  ir/json_generator.h
  ir/json_loader.h
  ir/json_parser.cpp
  ir/json_parser.h
  ir/node.cpp
  ir/node.h
  ir/type.cpp
  ir/v1.cpp
  ir/vector.h
  ir/write_context.cpp
  lib/cstring.cpp
  lib/cstring.h
  lib/error_helper.h
  lib/error_reporter.h
  lib/exceptions.h
  lib/null.h
  tools/ir-generator/irclass.h
Labels: core

#4458 Fix hvec_map insert/emplace
  lib/hvec_map.h
Labels: core

#4465 Add some more global operator new / delete overrides
  lib/gc.cpp
Labels: run-ubuntu18, run-sanitizer

#4463 Bump protobuf version and add Abseil as compiler dependency.
  CMakeLists.txt
  README.md
  backends/dpdk/CMakeLists.txt
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/modules/testgen/CMakeLists.txt
  bazel/p4c_deps.bzl
  cmake/Abseil.cmake
  cmake/Protobuf.cmake
  lib/json.cpp
  lib/json.h
Labels: core, run-ubuntu18, run-sanitizer

#4398 [P4Testgen] Implement a library for common control-plane symbolic variables.
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/common/control_plane/CMakeLists.txt
  backends/p4tools/common/control_plane/symbolic_variables.cpp
  backends/p4tools/common/control_plane/symbolic_variables.h
  backends/p4tools/modules/testgen/core/small_step/table_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_refers_to_parser.cpp
  backends/p4tools/modules/testgen/targets/bmv2/table_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/p4_asserts_parser_test.cpp
  backends/p4tools/modules/testgen/targets/pna/shared_table_stepper.cpp
Labels: testgen

#4459 Use better maps to store visitor state
  ir/CMakeLists.txt
  ir/visitor.cpp
Labels: core, run-validation

#4474 Try to clean up the Protobuf includes.
  backends/dpdk/CMakeLists.txt
  backends/p4tools/common/CMakeLists.txt
  backends/p4tools/common/control_plane/CMakeLists.txt
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/targets/bmv2/CMakeLists.txt
  control-plane/CMakeLists.txt
Labels: core

#4393 Update MacOS runner to Ventura, add MacOS Sonoma (M1) runner
  .github/workflows/ci-test.yml
  requirements.txt
  tools/install_mac_deps.sh
Labels: test-infrastructure

#4486 Add missing Bazel targets.
  BUILD.bazel
Labels: test-infrastructure

#4442 Fixes from static analysis
  frontends/common/constantFolding.cpp
  frontends/p4/typeChecking/typeChecker.cpp
  midend/parserUnroll.cpp
  tools/ir-generator/irclass.cpp
Labels: core

#4483 Generalize get in map utils
  ir/indexed_vector.h
  lib/json.h
  lib/map.h
  lib/ordered_map.h
  lib/source_file.h
  test/gtest/ordered_map.cpp
Labels: core
