Repository p4lang/p4c, pull requests merged in 2024-01, with the labels that each got.

#4267 [P4Testgen] Move arch spec to ProgramInfo to allow it to depend on P4 program
  backends/p4tools/modules/testgen/core/program_info.h
  backends/p4tools/modules/testgen/core/small_step/extern_stepper.cpp
  backends/p4tools/modules/testgen/core/target.cpp
  backends/p4tools/modules/testgen/core/target.h
  backends/p4tools/modules/testgen/targets/bmv2/cmd_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/expr_stepper.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/target.h
  backends/p4tools/modules/testgen/targets/ebpf/cmd_stepper.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.h
  backends/p4tools/modules/testgen/targets/ebpf/target.cpp
  backends/p4tools/modules/testgen/targets/ebpf/target.h
  backends/p4tools/modules/testgen/targets/pna/dpdk/cmd_stepper.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.h
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/target.cpp
  backends/p4tools/modules/testgen/targets/pna/target.h
Labels: testgen

#4307 [P4Testgen] Implement coverage tracking of actions
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/expr_stepper.h
  backends/p4tools/modules/testgen/lib/collect_coverable_nodes.cpp
  backends/p4tools/modules/testgen/lib/collect_coverable_nodes.h
  backends/p4tools/modules/testgen/lib/execution_state.cpp
  backends/p4tools/modules/testgen/options.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/P4Tests.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/p4-programs/bmv2_table_actions_coverage.p4
  midend/coverage.cpp
  midend/coverage.h
Labels: enhancement, testgen

#4319 Allow constructing PassRepeated from a PassManager
  ir/pass_manager.h
Labels: core

#4320 Respect ENABLE_LTO even for static build, but keep LTO default for static
  CMakeLists.txt
Labels: core

#4300 Make sure P4 expression optimization does not strip away types
  backends/p4tools/common/compiler/convert_varbits.h
  backends/p4tools/common/lib/symbolic_env.cpp
  backends/p4tools/modules/testgen/core/small_step/extern_stepper.cpp
  backends/p4tools/modules/testgen/core/small_step/table_stepper.cpp
  backends/p4tools/modules/testgen/lib/execution_state.cpp
  frontends/common/constantFolding.cpp
  frontends/p4/strengthReduction.cpp
Labels: bug, testgen, core

#4325 Allow constant-folding of arbitrary-precision integer casts
  frontends/common/constantFolding.cpp
  testdata/p4_16_samples/constant-fold-infint.p4
  testdata/p4_16_samples_outputs/constant-fold-infint-first.p4
  testdata/p4_16_samples_outputs/constant-fold-infint-frontend.p4
  testdata/p4_16_samples_outputs/constant-fold-infint.p4
  testdata/p4_16_samples_outputs/constant-fold-infint.p4-stderr
  testdata/p4_16_samples_outputs/issue2444-first.p4
  testdata/p4_16_samples_outputs/issue3219-first.p4
  testdata/p4_16_samples_outputs/issue3219-frontend.p4
  testdata/p4_16_samples_outputs/issue3219-midend.p4
Labels: core

#4323 [P4Testgen] Extend the CompilerTarget runProgram function with data structures which can pass on more information.
  backends/p4tools/common/compiler/compiler_target.cpp
  backends/p4tools/common/compiler/compiler_target.h
  backends/p4tools/common/p4ctool.h
  backends/p4tools/modules/testgen/main.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/binary.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/unary.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/value.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/transformations/saturation_arithm.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/asrt_model.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/expressions.cpp
  backends/p4tools/modules/testgen/test/gtest_utils.cpp
  backends/p4tools/modules/testgen/test/gtest_utils.h
  backends/p4tools/modules/testgen/test/small-step/util.h
  backends/p4tools/modules/testgen/testgen.cpp
  backends/p4tools/modules/testgen/testgen.h
Labels: testgen

#4324 [P4Testgen] Refactor ProgramInfo to be initialized with CompilerResult instead of a IR::P4Program
  backends/p4tools/modules/testgen/core/program_info.cpp
  backends/p4tools/modules/testgen/core/program_info.h
  backends/p4tools/modules/testgen/core/symbolic_executor/symbolic_executor.cpp
  backends/p4tools/modules/testgen/core/target.cpp
  backends/p4tools/modules/testgen/core/target.h
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.h
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/target.h
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2MetadataXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufIrXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2STFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/binary.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/unary.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/value.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/transformations/saturation_arithm.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/asrt_model.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/z3-solver/expressions.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.h
  backends/p4tools/modules/testgen/targets/ebpf/target.cpp
  backends/p4tools/modules/testgen/targets/ebpf/target.h
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.h
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.h
  backends/p4tools/modules/testgen/targets/pna/target.cpp
  backends/p4tools/modules/testgen/targets/pna/target.h
  backends/p4tools/modules/testgen/test/gtest_utils.cpp
  backends/p4tools/modules/testgen/test/gtest_utils.h
  backends/p4tools/modules/testgen/test/small-step/util.h
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4328 Documentation & testfix follow-up to #4160
  README.md
  backends/ebpf/README.md
  backends/ebpf/run-ebpf-test.py
Labels: ebpf

#4210 Repair the static DPDK PTF tests.
  .github/workflows/disabled/ci-dpdk-ptf-p4testgen-tests.yml
  backends/dpdk/CMakeLists.txt
  backends/dpdk/run-dpdk-ptf-test.py
  cmake/Linters.cmake
  testdata/p4_16_samples/pna-dpdk-add_on_miss0.py
  testdata/p4_16_samples/pna-dpdk-small_sample.py
  testdata/p4_16_samples/ternary2-bmv2.py
  tools/ptf/base_test.py
Labels: dpdk

#4348 Trigger CI workflows based on assigned label.
  .github/workflows/ci-ubuntu-18-nightly.yml
  .github/workflows/ci-ubuntu-20-sanitizer-nightly.yml
  .github/workflows/ci-validation-nightly.yml
  requirements.txt
Labels: run-ubuntu18, run-validation, run-sanitizer

#4292 [P4Testgen] Introduce a compiler target for P4Testgen. Move computation from the ProgramInfo to the midend.
  backends/p4tools/modules/testgen/CMakeLists.txt
  backends/p4tools/modules/testgen/core/compiler_target.cpp
  backends/p4tools/modules/testgen/core/compiler_target.h
  backends/p4tools/modules/testgen/core/program_info.cpp
  backends/p4tools/modules/testgen/core/program_info.h
  backends/p4tools/modules/testgen/core/small_step/small_step.cpp
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.cpp
  backends/p4tools/modules/testgen/targets/bmv2/bmv2.h
  backends/p4tools/modules/testgen/targets/bmv2/map_direct_externs.cpp
  backends/p4tools/modules/testgen/targets/bmv2/map_direct_externs.h
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_asserts_parser.h
  backends/p4tools/modules/testgen/targets/bmv2/p4_refers_to_parser.cpp
  backends/p4tools/modules/testgen/targets/bmv2/p4_refers_to_parser.h
  backends/p4tools/modules/testgen/targets/bmv2/program_info.cpp
  backends/p4tools/modules/testgen/targets/bmv2/program_info.h
  backends/p4tools/modules/testgen/targets/bmv2/target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/small-step/p4_asserts_parser_test.cpp
  backends/p4tools/modules/testgen/targets/ebpf/ebpf.cpp
  backends/p4tools/modules/testgen/targets/ebpf/ebpf.h
  backends/p4tools/modules/testgen/targets/ebpf/program_info.cpp
  backends/p4tools/modules/testgen/targets/ebpf/program_info.h
  backends/p4tools/modules/testgen/targets/ebpf/target.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/dpdk/program_info.h
  backends/p4tools/modules/testgen/targets/pna/pna.cpp
  backends/p4tools/modules/testgen/targets/pna/pna.h
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.cpp
  backends/p4tools/modules/testgen/targets/pna/shared_program_info.h
  backends/p4tools/modules/testgen/targets/pna/target.cpp
  backends/p4tools/modules/testgen/testgen.cpp
Labels: testgen

#4367 Fix the option to pipe stdin to the compiler.
  lib/options.cpp
Labels: core

#4380 Tweak optional CI run execution.
  .github/workflows/ci-ubuntu-18-nightly.yml
  .github/workflows/ci-ubuntu-20-sanitizer-nightly.yml
  .github/workflows/ci-validation-nightly.yml
  backends/bmv2/CMakeLists.txt
  backends/bmv2/run-bmv2-ptf-test.py
  backends/tc/ebpfCodeGen.h
Labels: run-ubuntu18, run-validation, run-sanitizer
