Repository p4lang/p4c, pull requests merged in 2025-05, with the labels that each got.

#5245 Fix missing <tuple> include in alloc.h causing compilation failure
  backends/tofino/bf-p4c/common/alloc.h
Labels: tofino

#5183 Add bpftool to eBPF back end instead libbpf. Rework ebpf kernel header and Python loaders for Ubuntu 24.04 support
  backends/bmv2/run-bmv2-ptf-test.py
  backends/ebpf/CMakeLists.txt
  backends/ebpf/build_libbpf
  backends/ebpf/ebpfProgram.cpp
  backends/ebpf/run-ebpf-test.py
  backends/ebpf/runtime/.gitignore
  backends/ebpf/runtime/contrib/.gitignore
  backends/ebpf/runtime/ebpf_kernel.h
  backends/ebpf/runtime/kernel.mk
  backends/ebpf/targets/ebpfenv.py
  backends/ebpf/targets/kernel_target.py
  cmake/Linters.cmake
  testdata/extern_modules/extern-conntrack-ebpf.c
Labels: ebpf, p4tc, ebpf-psa, run-ubuntu18

#5275 Add sys/types.h include to ebpf_kernel and disable failng PSA-eBPF test.
  backends/ebpf/runtime/ebpf_kernel.h
  backends/ebpf/tests/ptf/test.py
Labels: ebpf-psa

#5274 Only push docker image when the branch is main. Not on the merge queue.
  .github/workflows/ci-container-image.yml
Labels: infrastructure

#5277 [P4Testgen] Print and error instead of throwing a BUG when the architecture package does not match.
  backends/p4tools/common/lib/util.cpp
  backends/p4tools/modules/testgen/targets/bmv2/target.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2MetadataXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2PTFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufIrXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2STFXfail.cmake
  backends/p4tools/modules/testgen/targets/ebpf/target.cpp
  backends/p4tools/modules/testgen/targets/pna/target.cpp
Labels: p4tools

#5047 Use uv to manage Python dependencies, add Ubuntu 24.04 CI test.
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-p4tools.yml
  .github/workflows/ci-ptf-kernels-weekly.yml
  .github/workflows/ci-ptf.yml
  .github/workflows/ci-static-build-test.yml
  .github/workflows/ci-test-debian.yml
  .github/workflows/ci-test-fedora.yml
  .github/workflows/ci-test-mac.yml
  .github/workflows/ci-ubuntu-22-sanitizer-nightly.yml
  .github/workflows/ci-ubuntu-p4tc-stf.yml
  .github/workflows/ci-validation-nightly.yml
  .github/workflows/disabled/ci-ubuntu-18-nightly.yml
  .gitignore
  Dockerfile
  README.md
  pyproject.toml
  requirements.txt
  tools/ci-build.sh
  tools/install_fedora_deps.sh
  tools/install_mac_deps.sh
Labels: p4tc, run-ubuntu18, run-validation, run-sanitizer, infrastructure, run-static

#5283 Decimal numbers support for the json lib
  backends/bmv2/common/extern.cpp
  backends/bmv2/common/helpers.cpp
  lib/json.cpp
  lib/json.h
  test/gtest/json_test.cpp
Labels: core

#5282 Clean up IRDumper to use visitor infra properly
  ir/dump.cpp
Labels: core

#5115 Generalized array support
  backends/p4tools/common/core/abstract_execution_state.cpp
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2MetadataXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2PTFXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2ProtobufIrXfail.cmake
  backends/p4tools/modules/testgen/targets/bmv2/test/BMV2STFXfail.cmake
  frontends/p4/simplifyDefUse.cpp
  frontends/p4/typeChecking/typeCheckExpr.cpp
  frontends/p4/typeChecking/typeCheckTypes.cpp
  frontends/parsers/p4/p4parser.ypp
  midend/hsIndexSimplify.cpp
  midend/hsIndexSimplify.h
  testdata/p4_16_errors/array4.p4
  testdata/p4_16_errors/stack_e.p4
  testdata/p4_16_errors_outputs/array4-first.p4
  testdata/p4_16_errors_outputs/array4-frontend.p4
  testdata/p4_16_errors_outputs/array4.p4
  testdata/p4_16_errors_outputs/array4.p4-stderr
  testdata/p4_16_errors_outputs/stack_e.p4
  testdata/p4_16_errors_outputs/stack_e.p4-stderr
  testdata/p4_16_samples/array1.p4
  testdata/p4_16_samples/array2.p4
  testdata/p4_16_samples/array3.p4
  testdata/p4_16_samples/array5.p4
  testdata/p4_16_samples_outputs/array1-first.p4
  testdata/p4_16_samples_outputs/array1-frontend.p4
  testdata/p4_16_samples_outputs/array1-midend.p4
  testdata/p4_16_samples_outputs/array1.p4
  testdata/p4_16_samples_outputs/array1.p4-stderr
  testdata/p4_16_samples_outputs/array1.p4.entries.txtpb
  testdata/p4_16_samples_outputs/array1.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/array2-first.p4
  testdata/p4_16_samples_outputs/array2-frontend.p4
  testdata/p4_16_samples_outputs/array2-midend.p4
  testdata/p4_16_samples_outputs/array2.p4
  testdata/p4_16_samples_outputs/array2.p4-stderr
  testdata/p4_16_samples_outputs/array2.p4.entries.txtpb
  testdata/p4_16_samples_outputs/array2.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/array3-first.p4
  testdata/p4_16_samples_outputs/array3-frontend.p4
  testdata/p4_16_samples_outputs/array3-midend.p4
  testdata/p4_16_samples_outputs/array3.p4
  testdata/p4_16_samples_outputs/array3.p4-stderr
  testdata/p4_16_samples_outputs/array5-first.p4
  testdata/p4_16_samples_outputs/array5-frontend.p4
  testdata/p4_16_samples_outputs/array5-midend.p4
  testdata/p4_16_samples_outputs/array5.p4
  testdata/p4_16_samples_outputs/array5.p4-stderr
Labels: p4-spec
