Repository p4lang/p4c, pull requests merged in 2025-08, with the labels that each got.

#5329 Make struct used by digest in p4tc packed
  backends/ebpf/ebpfType.cpp
  backends/ebpf/ebpfType.h
  backends/tc/ebpfCodeGen.cpp
  backends/tc/ebpfCodeGen.h
  testdata/p4tc_samples_outputs/digest_parser.h
  testdata/p4tc_samples_outputs/digest_parser_meta_parser.h
Labels: p4tc

#5357 Add Checksum extern support to the TC backend
  backends/tc/ebpfCodeGen.cpp
  backends/tc/ebpfCodeGen.h
  backends/tc/runtime/include/crc32.h
  backends/tc/runtime/include/pna.h
  backends/tc/tcExterns.cpp
  backends/tc/tcExterns.h
  testdata/p4tc_samples/crc.p4
  testdata/p4tc_samples_outputs/crc.json
  testdata/p4tc_samples_outputs/crc.p4-stderr
  testdata/p4tc_samples_outputs/crc.template
  testdata/p4tc_samples_outputs/crc_control_blocks.c
  testdata/p4tc_samples_outputs/crc_parser.c
  testdata/p4tc_samples_outputs/crc_parser.h
Labels: p4tc

#5358 Print message when P4TEST_IGNORE_STDERR is used
  backends/p4test/run-p4-sample.py
Labels: infrastructure

#5368 Make building the control-plane (and protobuf) optional.
  CMakeLists.txt
  test/CMakeLists.txt
Labels: control-plane
