Repository p4lang/p4c, pull requests merged in 2025-03, with the labels that each got.

#5146 JSONGenerator/Loader cleanups
  backends/bmv2/pna_nic/main.cpp
  backends/bmv2/psa_switch/main.cpp
  backends/bmv2/simple_switch/main.cpp
  backends/dpdk/main.cpp
  backends/ebpf/p4c-ebpf.cpp
  backends/graphs/p4c-graphs.cpp
  backends/p4test/p4test.cpp
  backends/p4tools/common/core/z3_solver.cpp
  backends/tc/tc.cpp
  backends/tofino/bf-p4c/ir/arch.def
  backends/tofino/bf-p4c/ir/tofino.def
  backends/tofino/bf-p4c/ir/unique_id.cpp
  backends/tofino/bf-p4c/mau/hash_function.cpp
  backends/tofino/bf-p4c/mau/resource.h
  backends/tofino/bf-p4c/p4c-barefoot.cpp
  backends/tofino/bf-p4c/parde/clot/clot.cpp
  backends/tofino/bf-p4c/parde/clot/clot.h
  backends/tofino/bf-p4c/parde/marshal.cpp
  backends/tofino/bf-p4c/parde/marshal.h
  backends/tofino/bf-p4c/parde/match_register.cpp
  backends/tofino/bf-p4c/phv/phv.cpp
  ir/ir-inline.h
  ir/json_generator.h
  ir/json_loader.h
  ir/json_parser.cpp
  ir/json_parser.h
  ir/node.cpp
  ir/node.h
  test/gtest/dumpjson.cpp
  test/gtest/rtti_test.cpp
  tools/ir-generator/methods.cpp
Labels: core

#5011 First take at p4tc automated tests
  .github/workflows/ci-test-debian.yml
  .github/workflows/ci-test-fedora.yml
  .github/workflows/ci-test-mac.yml
  .github/workflows/ci-ubuntu-18-nightly-p4tc-stf.yml
  .github/workflows/ci-ubuntu-18-nightly.yml
  .github/workflows/ci-ubuntu-20-sanitizer-nightly.yml
  backends/tc/CMakeLists.txt
  backends/tc/run-tc-test.py
  backends/tc/runtime/build-iproute2
  backends/tc/runtime/build-libbpf
  backends/tc/runtime/build-simple-p4
  backends/tc/runtime/cleanup
  backends/tc/runtime/del-bridge
  backends/tc/runtime/extract_deb
  backends/tc/runtime/include/crc32.h
  backends/tc/runtime/include/pna.h
  backends/tc/runtime/send_packet
  backends/tc/runtime/setup
  backends/tc/runtime/spawn-bridge
  backends/tc/runtime/spawn-vm
  backends/tc/runtime/tc.mk
  backends/tc/runtime/vm-post-boot
  backends/tc/tcenv.py
  backends/tc/test_infra.py
  cmake/Linters.cmake
  testdata/p4tc_samples_stf/arp_respond.p4
  testdata/p4tc_samples_stf/arp_respond.stf
  testdata/p4tc_samples_stf/simple_l3.p4
  testdata/p4tc_samples_stf/simple_l3.stf
  testdata/p4tc_samples_stf_outputs/arp_respond.json
  testdata/p4tc_samples_stf_outputs/arp_respond.template
  testdata/p4tc_samples_stf_outputs/arp_respond_control_blocks.c
  testdata/p4tc_samples_stf_outputs/arp_respond_parser.c
  testdata/p4tc_samples_stf_outputs/arp_respond_parser.h
  testdata/p4tc_samples_stf_outputs/simple_l3.json
  testdata/p4tc_samples_stf_outputs/simple_l3.p4-stderr
  testdata/p4tc_samples_stf_outputs/simple_l3.template
  testdata/p4tc_samples_stf_outputs/simple_l3_control_blocks.c
  testdata/p4tc_samples_stf_outputs/simple_l3_parser.c
  testdata/p4tc_samples_stf_outputs/simple_l3_parser.h
  tools/ci-build.sh
  tools/install_fedora_deps.sh
Labels: p4tc

#5150 Mark inline locations with annotation.
  backends/bmv2/pna_nic/midend.cpp
  backends/bmv2/pna_nic/pnaNic.cpp
  backends/bmv2/psa_switch/midend.cpp
  backends/bmv2/psa_switch/psaSwitch.cpp
  backends/bmv2/simple_switch/midend.cpp
  backends/bmv2/simple_switch/simpleSwitch.cpp
  backends/dpdk/midend.cpp
  backends/ebpf/midend.cpp
  backends/p4test/midend.cpp
  backends/p4tools/common/compiler/midend.cpp
  backends/tc/midend.cpp
  backends/tofino/bf-p4c/midend/elim_cast.h
  backends/tofino/bf-p4c/midend/simplifyIfStatement.h
  backends/ubpf/midend.cpp
  frontends/p4/actionsInlining.cpp
  frontends/p4/frontend.cpp
  frontends/p4/frontend.h
  frontends/p4/functionsInlining.cpp
  frontends/p4/parserControlFlow.h
  frontends/p4/simplify.cpp
  frontends/p4/simplify.h
  ir/annotations.cpp
  ir/base.def
  midend/parserUnroll.h
  test/gtest/midend_pass.cpp
  testdata/p4_16_samples_outputs/fabric_20190420/fabric-frontend.p4
  testdata/p4_16_samples_outputs/inline-function2-frontend.p4
  testdata/p4_16_samples_outputs/omec/up4-frontend.p4
  testdata/p4_16_samples_outputs/pins/pins_fabric-frontend.p4
  testdata/p4_16_samples_outputs/pins/pins_fabric-midend.p4
  testdata/p4_16_samples_outputs/pins/pins_middleblock-first.p4
  testdata/p4_16_samples_outputs/pins/pins_middleblock-frontend.p4
  testdata/p4_16_samples_outputs/pins/pins_middleblock-midend.p4
  testdata/p4_16_samples_outputs/pins/pins_middleblock.p4
  testdata/p4_16_samples_outputs/xor_test-frontend.p4
  testdata/p4_16_samples_outputs/xor_test-midend.p4
Labels: core

#5158 Add statement splitter utility
  ir/CMakeLists.txt
  ir/splitter.cpp
  ir/splitter.h
  test/CMakeLists.txt
  test/gtest/ir-splitter.cpp
Labels: core, run-validation

#5165 Replace unnecessary use of Scapy with ptf.pcap_writer in p4tc tests
  backends/tc/runtime/send_packet
  backends/tc/test_infra.py
Labels: p4tc

#5168 Update p4tc CI tests to run on Ubuntu 22.04
  .github/workflows/ci-ubuntu-p4tc-stf.yml
Labels: p4tc, infrastructure

#5164 Updated the no start state error message to include only parser name
  frontends/p4/validateParsedProgram.h
  testdata/p4_16_errors_outputs/accept_e.p4-stderr
  testdata/p4_16_errors_outputs/issue3338.p4-stderr
  testdata/p4_16_errors_outputs/nostart.p4-stderr
Labels: core

#5053 Pass to get rid of action_run() calls
  backends/p4test/CMakeLists.txt
  backends/p4test/midend.cpp
  backends/p4test/midend.h
  backends/p4test/p4test.cpp
  backends/p4test/p4test.h
  midend/CMakeLists.txt
  midend/eliminateActionRun.cpp
  midend/eliminateActionRun.h
  testdata/p4_16_samples/elimActRun1.p4
  testdata/p4_16_samples_outputs/elimActRun1-first.p4
  testdata/p4_16_samples_outputs/elimActRun1-frontend.p4
  testdata/p4_16_samples_outputs/elimActRun1-midend.p4
  testdata/p4_16_samples_outputs/elimActRun1.p4
  testdata/p4_16_samples_outputs/elimActRun1.p4-stderr
  testdata/p4_16_samples_outputs/elimActRun1.p4.entries.txtpb
  testdata/p4_16_samples_outputs/elimActRun1.p4.p4info.txtpb
Labels: core, run-validation

#5172 Update p4tc's iproute2 to v17-rc8
  .github/workflows/ci-ubuntu-p4tc-stf.yml
  backends/tc/CMakeLists.txt
  tools/ci-build.sh
  tools/install_fedora_deps.sh
Labels: p4tc, infrastructure

#5170 fix warnings from -Wswitch-enum
  ir/json_generator.h
Labels: core

#4979 Add @likely/@unlikely annotations for blocks
  frontends/common/constantFolding.cpp
  frontends/p4/dontcareArgs.h
  frontends/p4/parseAnnotations.cpp
  frontends/p4/removeParameters.cpp
  frontends/p4/removeReturns.cpp
  frontends/p4/sideEffects.cpp
  frontends/p4/simplify.cpp
  ir/annotations.cpp
  ir/base.def
  lib/error_catalog.cpp
  lib/error_catalog.h
  lib/error_reporter.h
  midend/flattenUnions.cpp
  midend/removeExits.cpp
  testdata/p4_16_samples/annotation-likely.p4
  testdata/p4_16_samples_outputs/annotation-likely-first.p4
  testdata/p4_16_samples_outputs/annotation-likely-frontend.p4
  testdata/p4_16_samples_outputs/annotation-likely-midend.p4
  testdata/p4_16_samples_outputs/annotation-likely.p4
  testdata/p4_16_samples_outputs/annotation-likely.p4-stderr
  testdata/p4_16_samples_outputs/fabric_20190420/fabric-midend.p4
  testdata/p4_16_samples_outputs/omec/up4-midend.p4
Labels: p4-spec

#5175 [#4365] [#4907] Add test cases related to issue #4365
  testdata/p4_16_errors/issue4365_no_demote_error_to_info.p4
  testdata/p4_16_errors/issue4365_no_demote_error_to_warning.p4
  testdata/p4_16_errors/issue4365_no_disable_error.p4
  testdata/p4_16_errors_outputs/issue4365_no_demote_error_to_info.p4
  testdata/p4_16_errors_outputs/issue4365_no_demote_error_to_info.p4-stderr
  testdata/p4_16_errors_outputs/issue4365_no_demote_error_to_warning.p4
  testdata/p4_16_errors_outputs/issue4365_no_demote_error_to_warning.p4-stderr
  testdata/p4_16_errors_outputs/issue4365_no_disable_error.p4
  testdata/p4_16_errors_outputs/issue4365_no_disable_error.p4-stderr
  testdata/p4_16_samples/issue4365_wdisable_precedence_over_werror.p4
  testdata/p4_16_samples/issue4365_wdisable_precedence_over_werror_control.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror-first.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror-frontend.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror-midend.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror.p4-stderr
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror_control-first.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror_control-frontend.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror_control-midend.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror_control.p4
  testdata/p4_16_samples_outputs/issue4365_wdisable_precedence_over_werror_control.p4-stderr
Labels: infrastructure

#5156 Replace most mentions of Ubuntu 20.04 with 22.04
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-static-build-test.yml
  .github/workflows/ci-test-debian.yml
  .github/workflows/ci-ubuntu-22-sanitizer-nightly.yml
  README.md
Labels: p4tc, run-validation, run-sanitizer, infrastructure, run-static

#5136 Add Auto-Labeling for Issues using GitHub Actions
  .github/workflows/auto-label.yml
Labels: infrastructure

#5160 Update validate-p4c CI test to use Ubuntu 22.04
  .github/workflows/ci-validation-nightly.yml
Labels: run-validation, infrastructure

#5133 frontend: Fix SpecializeGenericTypes
  frontends/p4/specializeGenericTypes.cpp
  frontends/p4/specializeGenericTypes.h
  testdata/p4_16_samples/issue4835-generic-struct.p4
  testdata/p4_16_samples/type-spec-nested.p4
  testdata/p4_16_samples_outputs/generic-struct-first.p4
  testdata/p4_16_samples_outputs/generic-struct-frontend.p4
  testdata/p4_16_samples_outputs/generic-struct-midend.p4
  testdata/p4_16_samples_outputs/generic-struct-tuple-first.p4
  testdata/p4_16_samples_outputs/generic-struct-tuple-frontend.p4
  testdata/p4_16_samples_outputs/issue2627-first.p4
  testdata/p4_16_samples_outputs/issue2627-frontend.p4
  testdata/p4_16_samples_outputs/issue2635-first.p4
  testdata/p4_16_samples_outputs/issue2635-frontend.p4
  testdata/p4_16_samples_outputs/issue2635-midend.p4
  testdata/p4_16_samples_outputs/issue3203-first.p4
  testdata/p4_16_samples_outputs/issue3203-frontend.p4
  testdata/p4_16_samples_outputs/issue3204-first.p4
  testdata/p4_16_samples_outputs/issue3204-frontend.p4
  testdata/p4_16_samples_outputs/issue3291-1-first.p4
  testdata/p4_16_samples_outputs/issue3291-1-frontend.p4
  testdata/p4_16_samples_outputs/issue3291-1-midend.p4
  testdata/p4_16_samples_outputs/issue4835-generic-struct-first.p4
  testdata/p4_16_samples_outputs/issue4835-generic-struct-frontend.p4
  testdata/p4_16_samples_outputs/issue4835-generic-struct-midend.p4
  testdata/p4_16_samples_outputs/issue4835-generic-struct.p4
  testdata/p4_16_samples_outputs/issue4835-generic-struct.p4-stderr
  testdata/p4_16_samples_outputs/issue4835-generic-struct.p4.entries.txtpb
  testdata/p4_16_samples_outputs/issue4835-generic-struct.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/list9-first.p4
  testdata/p4_16_samples_outputs/list9-frontend.p4
  testdata/p4_16_samples_outputs/list9-midend.p4
  testdata/p4_16_samples_outputs/p4rt_digest_complex-first.p4
  testdata/p4_16_samples_outputs/p4rt_digest_complex-frontend.p4
  testdata/p4_16_samples_outputs/p4rt_digest_complex-midend.p4
  testdata/p4_16_samples_outputs/p4rt_digest_complex.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/stack-init-first.p4
  testdata/p4_16_samples_outputs/stack-init-frontend.p4
  testdata/p4_16_samples_outputs/stack-init-midend.p4
  testdata/p4_16_samples_outputs/type-spec-nested-first.p4
  testdata/p4_16_samples_outputs/type-spec-nested-frontend.p4
  testdata/p4_16_samples_outputs/type-spec-nested-midend.p4
  testdata/p4_16_samples_outputs/type-spec-nested.p4
  testdata/p4_16_samples_outputs/type-spec-nested.p4-stderr
Labels: bug, core

#5179 Fix missing space when emitting error enum with toP4.
  frontends/p4/toP4/toP4.cpp
Labels: infrastructure

#5180 Do not throw a Python exception when the binary to execute is not found.
  tools/testutils.py
Labels: infrastructure

#5161 Fix tofino license regeneration
  backends/tofino/CMakeLists.txt
Labels: tofino

#5111 Add SPDX-License-Identifier: GPL-2.0-only to Python source files using scapy
  backends/ebpf/tests/ptf/bng.py
  backends/ebpf/tests/ptf/checksum.py
  backends/ebpf/tests/ptf/l2l3_acl.py
  backends/ebpf/tests/ptf/table_implementation.py
  backends/ebpf/tests/ptf/test.py
  backends/ebpf/tests/ptf/upf.py
Labels: documentation

#5184 make DumpPipe from Tofino available to all
  CMakeLists.txt
  backends/p4test/midend.cpp
  backends/tofino/bf-p4c/CMakeLists.txt
  backends/tofino/bf-p4c/backend.cpp
  backends/tofino/bf-p4c/common/dump_pipe.cpp
  backends/tofino/bf-p4c/common/utils.h
  backends/tofino/bf-p4c/mau/mau_alloc.cpp
  backends/tofino/bf-p4c/phv/v2/metadata_initialization.cpp
  backends/tofino/scripts/package_p4c_for_tofino.sh
  backends/tofino/scripts/package_sources.sh
  ir/dump.cpp
  ir/dump.h
Labels: core, tofino

#5195 BMv2: ActionSelector fix + enable backends
  backends/bmv2/CMakeLists.txt
  backends/bmv2/portable_common/portable.cpp
  tools/driver/p4c_src/p4c.bmv2.cfg
Labels: bmv2

#5197 [infra] Change permissions of label update workflow.
  .github/workflows/auto-label.yml
Labels: infrastructure

#5196 [BMv2] PNA: hash default + enum fix
  backends/bmv2/CMakeLists.txt
  backends/bmv2/pna_nic/midend.cpp
  backends/bmv2/portable_common/portable.cpp
  backends/bmv2/run-bmv2-test.py
Labels: bmv2

#5199 [bmv2]: allow BoolLiteral in ternary table entry
  backends/bmv2/common/control.h
  testdata/p4_16_samples/psa-bool-ternary-const-entry-bmv2.p4
  testdata/p4_16_samples/psa-bool-ternary-const-entry-bmv2.stf
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2-first.p4
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2-frontend.p4
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2-midend.p4
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4-error
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4-stderr
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4.bfrt.json
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4.entries.txtpb
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/psa-bool-ternary-const-entry-bmv2.p4.spec
Labels: bmv2

#5200 [bmv2]: output the scalar metadata fields
  backends/bmv2/portable_common/portable.cpp
  testdata/p4_16_samples/psa-metadata-bmv2.p4
  testdata/p4_16_samples/psa-metadata-bmv2.stf
  testdata/p4_16_samples_outputs/psa-metadata-bmv2-first.p4
  testdata/p4_16_samples_outputs/psa-metadata-bmv2-frontend.p4
  testdata/p4_16_samples_outputs/psa-metadata-bmv2-midend.p4
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4-error
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4-stderr
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4.bfrt.json
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4.entries.txtpb
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4.p4info.txtpb
  testdata/p4_16_samples_outputs/psa-metadata-bmv2.p4.spec
Labels: bmv2

#5177 Automatically disable p4tc tests when the necessary environment is missing
  .github/workflows/ci-test-debian.yml
  .github/workflows/ci-test-fedora.yml
  .github/workflows/ci-test-mac.yml
  .github/workflows/ci-ubuntu-18-nightly.yml
  .github/workflows/ci-ubuntu-22-sanitizer-nightly.yml
  backends/ebpf/CMakeLists.txt
  backends/tc/CMakeLists.txt
  backends/tc/TCTests.cmake
  backends/tc/run-tc-test.py
  backends/tc/tcenv.py
  cmake/CheckLinuxKernel.cmake
Labels: p4tc, run-ubuntu18, run-sanitizer, run-static

#5198 [infra] Fixing auto-label workflow
  .github/workflows/auto-label.yml
Labels: infrastructure

#5159 Update ptf-ebpf CI test to Ubuntu 22.04
  .github/workflows/ci-ptf.yml
  backends/ebpf/tests/ptf/test.py
  tools/ci-ptf/run_test.sh
Labels: infrastructure

#5193 Correctly attach the dontmerge annotation in the desugar_varbit_extract pass.
  backends/p4tools/modules/testgen/targets/tofino/test/p4-programs/tofino1_only/tna_varbit_extract.p4
  backends/tofino/bf-p4c/midend/desugar_varbit_extract.h
  backends/tofino/bf-p4c/parde/extract_parser.cpp
Labels: tofino
